@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&family=Open+Sans:wght@300;400;600;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #eff6fe;
}

::-webkit-scrollbar-thumb {
  background-color: #6379c9;
  border-radius: 5px;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  overflow-x: hidden;
}

.container {
  padding: 10px 20px;
}

.header {
  background-color: white;
}
.header_inner {
  min-width: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_link {
  margin-left: 10px;
}

.logo .logo_link,
.logo .company-name {
  display: inline-block;
  vertical-align: middle;
}

.company_name {
  font-size: 14px;
}

.company_name_part1 {
  color: #3e486a;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
}

.company_name_part2 {
  color: #6379c9;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
}

@media (min-width: 10px) {
  .menu_btn {
    display: block;
    width: 30px;
    height: 30px;
    background-color: #6379c9;
    border-radius: 4px;
    border: none;
    position: relative;
  }
  .menu_btn::after {
    content: "";
    width: 12px;
    height: 2px;
    position: absolute;
    background-color: white;
    border-radius: 1px;
    top: 9px;
    left: 9px;
    box-shadow: 0 4px 0 0 white, 0 8px 0 0 white;
  }
}

@media (min-width: 10px) {
  .menu_list,
  a,
  ul {
    display: none;
  }
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.head {
  background-color: #eff6fe;
  background-image: url("../../img/svg/bg-figur.svg");
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

.left-main-slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.top-slider_item {
  padding: 20px;
}
.top-slider_item_font {
  color: #6379c9;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
}
.top-slider_item_under {
  margin-top: 10px;
  color: #7883ab;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
}

.pay_btn {
  margin: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #6379c9;
  border-radius: 25px;
  padding: 10px 15px 10px 15px;
  box-shadow: 0px 7px 15px 0px rgba(76, 100, 188, 0.5);
}

.pay_btn_text {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.add-pay1_btn {
  margin-left: 6px;
  display: flex;
  flex: 1;
  justify-content: left;
  background-color: white;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  box-shadow: 2px 2px 4px rgba(99, 121, 201, 0.2);
  width: 123px;
  height: 50px;
}

.for-icon_text {
  color: #6379c9;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
}

.add-pay2_btn {
  margin-left: 6px;
  display: flex;
  flex: 1;
  justify-content: left;
  background-color: white;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  box-shadow: 2px 2px 4px rgba(99, 121, 201, 0.2);
  width: 123px;
  height: 50px;
}

.add-pay3_btn {
  margin-right: 6px;
  display: flex;
  flex: 1;
  justify-content: left;
  background-color: white;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  box-shadow: 2px 2px 4px rgba(99, 121, 201, 0.2);
  width: 100px;
  height: 50px;
}

.add-pay {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 60px;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.content {
  background-image: url("../../img/svg/bg-content-figur.svg");
  background-repeat: no-repeat;
}

.text-main {
  padding: 10px;
}
.text-main_main {
  color: #6379c9;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 30px;
}
.text-main_under {
  margin-top: 10px;
  color: #3e486a;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
}

.application_btn {
  margin: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #6379c9;
  border-radius: 25px;
  padding: 10px 15px 10px 15px;
  box-shadow: 0px 7px 15px 0px rgba(76, 100, 188, 0.5);
}

.application_btn_text {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.payroll {
  margin-bottom: 10px;
}

.text-payroll {
  padding: 10px;
}
.text-payroll_main {
  color: #6379c9;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 30px;
}
.text-payroll_under {
  margin-top: 10px;
  color: #3e486a;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
}

.includ {
  margin-top: 10px;
  margin-left: 20px;
}

.includ_text {
  margin-top: 10px;
  color: #3e486a;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
}
.includ_text_num {
  color: rgba(99, 121, 201, 0.4);
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

ol li {
  list-style-type: none;
  padding-left: 15px;
  text-align: left;
  margin: 20px 20px 20px 20px;
}
ol li ::before {
  content: none;
}

.reports {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px;
  align-items: center;
}

.reports_PFR,
.reports_FNC,
.reports_RusF,
.reports_FSS {
  width: 320px;
  height: 70px;
  margin-bottom: 10px;
  background-color: #eff6fe;
  font-family: "Fira Sans", sans-serif;
  padding: 20px;
  align-items: center;
  justify-content: left;
  display: flex;
  border-radius: 10px;
  position: relative;
}

.reports_main {
  margin: 0;
  top: 5px;
  left: 10px;
  font-weight: 700;
  font-size: 13px;
  color: #6379c9;
  position: absolute;
}

.reports_under {
  margin: 0;
  bottom: 10px;
  left: 10px;
  font-weight: 400;
  font-size: 14px;
  color: #3e486a;
  position: absolute;
}

.reports_img {
  float: right;
  margin-left: 5px;
  top: 5px;
  right: 10px;
  position: absolute;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.calculator {
  background-color: #eff6fe;
  -o-border-image: url("../../img/svg/bg-calculator-figur.svg");
     border-image: url("../../img/svg/bg-calculator-figur.svg");
  background-repeat: no-repeat;
}
.calculator_header {
  padding: 10px;
  color: #6379c9;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 30px;
}
.calculator_list {
  margin-top: 10px;
  color: #3e486a;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
}
.calculator_under {
  margin-top: 10px;
  color: #7883ab;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 12px;
  padding: 10px;
}

.calculator_card {
  width: 320px;
  margin-bottom: 10px;
  background-color: white;
  font-family: "Fira Sans", sans-serif;
  padding: 20px;
  align-items: center;
  justify-content: left;
  display: flex;
  border-radius: 10px;
  position: relative;
  box-shadow: rgba(99, 121, 201, 0.2);
}
.calculator_card_main_text_up_main {
  margin-top: 10px;
  color: #3e486a;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
}
.calculator_card_main_text_up_under {
  color: #3e486a;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 30px;
  padding: 10px;
}

.words_under {
  margin-top: 10px;
  color: #7883ab;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 12px;
  padding: 10px;
}

.calculator_card_btn {
  margin: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #6379c9;
  border-radius: 25px;
  padding: 10px 15px 10px 15px;
  box-shadow: 0px 7px 15px 0px rgba(76, 100, 188, 0.5);
}

.calculator_card_btn_text {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.benefits {
  background-color: white;
  margin-top: 30px;
}

.benefits_main {
  padding: 20px;
  color: #6379c9;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: clamp(13px, 3vw, 28px);
}

.benefits_explan_support,
.benefits_explan_client,
.benefits_explan_control,
.benefits_explan_balence,
.benefits_explan_bill,
.benefits_explan_com {
  display: flex;
  align-items: center;
  padding: 30px;
  border: none;
}
.benefits_explan_support_icon,
.benefits_explan_client_icon,
.benefits_explan_control_icon,
.benefits_explan_balence_icon,
.benefits_explan_bill_icon,
.benefits_explan_com_icon {
  display: flex;
  align-items: flex-start;
  margin-right: 20px;
  margin-bottom: auto;
  width: 80px;
  height: 80px;
  position: absolute;
}

.benefits_explan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.benefits_explan_main {
  color: rgb(62, 72, 106);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: clamp(10px, 3vw, 24px);
  margin-bottom: 10px;
}
.benefits_explan_under {
  color: rgb(120, 131, 171);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: clamp(6px, 3vw, 18px);
  margin-top: 10px;
}

.benefits_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  background-color: #eff6fe;
  background-image: url("../../img/svg/bg-benefit.svg");
  background: no-repeat;
  padding: 20px;
  width: 300px;
}
.benefits_card_main {
  color: #6379c9;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 10px;
}
.benefits_card_under {
  color: #3e486a;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 15px;
  margin-top: 10px;
  align-items: center;
}

.benefits_card_btn {
  margin: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #6379c9;
  border-radius: 25px;
  padding: 10px 15px 10px 15px;
  box-shadow: 0px 7px 15px 0px rgba(76, 100, 188, 0.5);
}

.benefits_card_btn_text {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.footer {
  margin-top: 10px;
  align-items: center;
}

.logo {
  align-items: center;
}

.year {
  justify-content: center;
  text-align: center;
  color: #7883ab;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
}

#symbol_c {
  margin: 5px;
  vertical-align: middle;
}

.name {
  justify-content: center;
  text-align: center;
  color: #7883ab;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.telephone {
  justify-content: center;
  text-align: center;
}
.telephone_name {
  color: #3e486a;
  font-family: "Fira Sans", sans-serif;
  font-size: 13px;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
}

.email {
  justify-content: center;
  align-items: center;
}
.email_name {
  color: #3e486a;
  font-family: "Fira Sans", sans-serif;
  font-size: 13px;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
}

.social_networks {
  justify-content: center;
  align-items: center;
}

.footer_nav {
  color: #3e486a;
  font-family: "Fira Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 20px;
}

.social_networks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media (min-width: 640px) {
  .header_inner {
    min-width: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .menu_btn {
    display: block;
  }
}

@media (min-width: 768px) {
  .menu_list,
  a,
  ul {
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #3e486a;
    font-size: 13px;
    padding: 5px;
  }
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}/*# sourceMappingURL=main.css.map */