//colors
$header-color: #3e486a;
$accent: #6379c9;
$bg-color: #eff6fe;
$words: #7883ab;

//fonts
// font-family: 'Fira Sans', sans-serif;
// font-family: 'Open Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&family=Open+Sans:wght@300;400;600;700&display=swap');
$font-main: 'Open Sans', sans-serif;
$font-accent: 'Fira Sans', sans-serif;
