@import "../base/reset";
@import "../base/vars";
@import "../base/mixins";

.payroll {
  margin-bottom: 10px;
}
.text-payroll {
  padding: 10px;
  &_main {
    color: $accent;
    font-family: $font-main;
    font-weight: 600;
    font-size: 30px;
  }
  &_under {
    margin-top: 10px;
    color: $header-color;
    font-family: $font-main;
    font-weight: 400;
    font-size: 13px;
  }
}
// список услуг
.includ {
  margin-top: 10px;
  margin-left: 20px;
}
.includ_text {
  margin-top: 10px;
  color: $header-color;
  font-family: $font-main;
  font-weight: 400;
  font-size: 13px;

  &_num {
    color: rgba(99, 121, 201, 0.4);
    font-family: $font-main;
    font-size: 24px;
    font-weight: 700;
  }
}
ol li {
  list-style-type: none;
  padding-left: 15px;
  text-align: left;
  margin: 20px 20px 20px 20px;
  ::before {
    content: none;
  }
}

//Отчеты 4шт
.reports {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px;

  align-items: center;
}
.reports_PFR,
.reports_FNC,
.reports_RusF,
.reports_FSS {
  width: 320px;
  height: 70px;
  margin-bottom: 10px;
  background-color: $bg-color;
  font-family: $font-accent;
  padding: 20px;
  align-items: center;
  justify-content: left;
  display: flex;
  border-radius: 10px;
  position: relative;
  //flex: 1;
}

.reports_main {
  margin: 0;
  top: 5px;
  left: 10px;
  font-weight: 700;
  font-size: 13px;
  color: $accent;
  position: absolute;
}
.reports_under {
  margin: 0;
  bottom: 10px;
  left: 10px;
  font-weight: 400;
  font-size: 14px;
  color: $header-color;
  position: absolute;
}
.reports_img {
  float: right;
  margin-left: 5px;
  top: 5px;
  right: 10px;
  position: absolute;
}
